nav{
    padding: 16px 32px;
    background-color: rgb(244,177,26);
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header{
    font-family: "McLaren",cursive;
    font-weight: 200;
    color: white;
    font-size: 2rem;
}